footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 85%;
    margin: 0 auto;
    background: #e4f3f7;
    color: #8f8b8b;
    text-align: center;
    line-height: 60px;
    font-size: 0.8rem;
}